/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 5, 2026, 2:13:07 PM
    Author     : phamv
*/

.dashboardroute{
    background-color:  #e6f9f0 ;
    
    height: 100vh;
}