USE [master]
GO
/****** Object:  Database [CRM_System]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE DATABASE [CRM_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRM_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRM_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRM_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRM_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRM_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRM_System]
GO
/****** Object:  Table [dbo].[activities]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activities](
	[activity_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_type] [nvarchar](50) NOT NULL,
	[related_type] [nvarchar](50) NOT NULL,
	[related_id] [int] NOT NULL,
	[subject] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[activity_date] [datetime2](7) NOT NULL,
	[duration_minutes] [int] NULL,
	[call_direction] [nvarchar](10) NULL,
	[call_result] [nvarchar](50) NULL,
	[performed_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attachments]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attachments](
	[attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[related_type] [nvarchar](50) NOT NULL,
	[related_id] [int] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[file_size] [int] NOT NULL,
	[file_type] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attachment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](50) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [int] NULL,
	[old_values] [nvarchar](max) NULL,
	[new_values] [nvarchar](max) NULL,
	[ip_address] [nvarchar](50) NULL,
	[user_agent] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[campaign_members]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[campaign_members](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[campaign_id] [int] NOT NULL,
	[lead_id] [int] NULL,
	[customer_id] [int] NULL,
	[status] [nvarchar](50) NOT NULL,
	[responded_at] [datetime2](7) NULL,
	[has_converted] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[campaigns]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[campaigns](
	[campaign_id] [int] IDENTITY(1,1) NOT NULL,
	[campaign_code] [nvarchar](50) NOT NULL,
	[campaign_name] [nvarchar](200) NOT NULL,
	[campaign_type] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[budget] [decimal](18, 2) NULL,
	[actual_cost] [decimal](18, 2) NULL,
	[target_leads] [int] NULL,
	[owner_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_code] [nvarchar](50) NOT NULL,
	[category_name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_course_categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[related_type] [nvarchar](50) NOT NULL,
	[related_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[parent_comment_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_code] [nvarchar](50) NOT NULL,
	[course_name] [nvarchar](200) NOT NULL,
	[category_id] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[short_description] [nvarchar](500) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[original_price] [decimal](18, 2) NULL,
	[discount_percentage] [int] NULL,
	[duration_hours] [int] NULL,
	[duration_weeks] [int] NULL,
	[total_lessons] [int] NULL,
	[level] [nvarchar](20) NULL,
	[language] [nvarchar](50) NULL,
	[instructor_name] [nvarchar](100) NULL,
	[instructor_bio] [nvarchar](500) NULL,
	[instructor_avatar_url] [nvarchar](500) NULL,
	[max_students] [int] NULL,
	[current_students] [int] NOT NULL,
	[total_enrolled] [int] NOT NULL,
	[rating_avg] [decimal](3, 2) NULL,
	[rating_count] [int] NOT NULL,
	[thumbnail_url] [nvarchar](500) NULL,
	[preview_video_url] [nvarchar](500) NULL,
	[tags] [nvarchar](500) NULL,
	[learning_outcomes] [nvarchar](max) NULL,
	[certificate_available] [bit] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
 CONSTRAINT [PK_courses] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_enrollments]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_enrollments](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[enrollment_code] [nvarchar](50) NOT NULL,
	[customer_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[enrolled_date] [datetime2](7) NOT NULL,
	[original_price] [decimal](18, 2) NOT NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[final_amount] [decimal](18, 2) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](20) NOT NULL,
	[paid_date] [datetime2](7) NULL,
	[transaction_ref] [nvarchar](100) NULL,
	[invoice_number] [nvarchar](50) NULL,
	[start_date] [date] NULL,
	[expected_completion_date] [date] NULL,
	[actual_completion_date] [date] NULL,
	[learning_status] [nvarchar](20) NOT NULL,
	[progress_percentage] [int] NOT NULL,
	[lessons_completed] [int] NOT NULL,
	[last_accessed_date] [datetime2](7) NULL,
	[certificate_issued] [bit] NOT NULL,
	[certificate_number] [nvarchar](50) NULL,
	[certificate_issued_date] [datetime2](7) NULL,
	[certificate_url] [nvarchar](500) NULL,
	[rating] [int] NULL,
	[review] [nvarchar](1000) NULL,
	[reviewed_date] [datetime2](7) NULL,
	[source_id] [int] NULL,
	[campaign_id] [int] NULL,
	[referral_code] [nvarchar](50) NULL,
	[promo_code] [nvarchar](50) NULL,
	[assigned_to] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[internal_notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
 CONSTRAINT [PK_customer_enrollments] PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_tag_assignments]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_tag_assignments](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
	[assigned_at] [datetime2](7) NOT NULL,
	[assigned_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_tags]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_tags](
	[tag_id] [int] IDENTITY(1,1) NOT NULL,
	[tag_name] [nvarchar](50) NOT NULL,
	[tag_color] [nvarchar](7) NULL,
	[description] [nvarchar](200) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_code] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[city] [nvarchar](100) NULL,
	[source_id] [int] NULL,
	[converted_lead_id] [int] NULL,
	[customer_segment] [nvarchar](50) NULL,
	[status] [nvarchar](20) NOT NULL,
	[owner_id] [int] NULL,
	[total_courses] [int] NOT NULL,
	[total_spent] [decimal](18, 2) NOT NULL,
	[first_purchase_date] [date] NULL,
	[last_purchase_date] [date] NULL,
	[purchased_courses] [nvarchar](max) NULL,
	[health_score] [int] NULL,
	[satisfaction_score] [int] NULL,
	[email_opt_out] [bit] NOT NULL,
	[sms_opt_out] [bit] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_code] [nvarchar](20) NOT NULL,
	[department_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email_attachments]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_attachments](
	[attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[email_log_id] [int] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[file_size] [int] NOT NULL,
	[file_type] [nvarchar](100) NULL,
	[content_type] [nvarchar](100) NULL,
	[is_inline] [bit] NULL,
	[content_id] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attachment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email_logs]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_logs](
	[email_log_id] [int] IDENTITY(1,1) NOT NULL,
	[related_type] [nvarchar](50) NOT NULL,
	[related_id] [int] NOT NULL,
	[quotation_id] [int] NULL,
	[template_id] [int] NULL,
	[from_email] [nvarchar](255) NOT NULL,
	[from_name] [nvarchar](100) NULL,
	[to_email] [nvarchar](255) NOT NULL,
	[to_name] [nvarchar](100) NULL,
	[cc_emails] [nvarchar](500) NULL,
	[bcc_emails] [nvarchar](500) NULL,
	[reply_to] [nvarchar](255) NULL,
	[subject] [nvarchar](200) NOT NULL,
	[body_html] [nvarchar](max) NULL,
	[body_text] [nvarchar](max) NULL,
	[has_attachments] [bit] NULL,
	[attachment_count] [int] NULL,
	[attachments_info] [nvarchar](max) NULL,
	[status] [nvarchar](20) NOT NULL,
	[sent_date] [datetime2](7) NULL,
	[sent_by] [int] NULL,
	[provider] [nvarchar](50) NULL,
	[provider_message_id] [nvarchar](255) NULL,
	[provider_response] [nvarchar](max) NULL,
	[tracking_enabled] [bit] NULL,
	[tracking_pixel_url] [nvarchar](500) NULL,
	[opened_date] [datetime2](7) NULL,
	[open_count] [int] NULL,
	[last_opened_date] [datetime2](7) NULL,
	[clicked_date] [datetime2](7) NULL,
	[click_count] [int] NULL,
	[last_clicked_date] [datetime2](7) NULL,
	[bounced_date] [datetime2](7) NULL,
	[bounce_reason] [nvarchar](500) NULL,
	[error_message] [nvarchar](max) NULL,
	[retry_count] [int] NULL,
	[next_retry_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email_templates]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_templates](
	[template_id] [int] IDENTITY(1,1) NOT NULL,
	[template_code] [nvarchar](50) NOT NULL,
	[template_name] [nvarchar](200) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[subject] [nvarchar](200) NOT NULL,
	[body_html] [nvarchar](max) NOT NULL,
	[body_text] [nvarchar](max) NULL,
	[available_variables] [nvarchar](max) NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NULL,
	[is_default] [bit] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lead_sources]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lead_sources](
	[source_id] [int] IDENTITY(1,1) NOT NULL,
	[source_code] [nvarchar](50) NOT NULL,
	[source_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[source_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leads]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leads](
	[lead_id] [int] IDENTITY(1,1) NOT NULL,
	[lead_code] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[source_id] [int] NULL,
	[campaign_id] [int] NULL,
	[job_title] [nvarchar](100) NULL,
	[company_name] [nvarchar](200) NULL,
	[interests] [nvarchar](500) NULL,
	[status] [nvarchar](20) NOT NULL,
	[rating] [nvarchar](10) NULL,
	[lead_score] [int] NOT NULL,
	[assigned_to] [int] NULL,
	[assigned_at] [datetime2](7) NULL,
	[is_converted] [bit] NOT NULL,
	[converted_at] [datetime2](7) NULL,
	[converted_customer_id] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lead_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opportunities]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opportunities](
	[opportunity_id] [int] IDENTITY(1,1) NOT NULL,
	[opportunity_code] [nvarchar](50) NOT NULL,
	[opportunity_name] [nvarchar](200) NOT NULL,
	[lead_id] [int] NULL,
	[customer_id] [int] NULL,
	[pipeline_id] [int] NOT NULL,
	[stage_id] [int] NOT NULL,
	[estimated_value] [decimal](18, 2) NULL,
	[probability] [int] NOT NULL,
	[expected_close_date] [date] NULL,
	[actual_close_date] [date] NULL,
	[status] [nvarchar](20) NOT NULL,
	[won_lost_reason] [nvarchar](500) NULL,
	[source_id] [int] NULL,
	[campaign_id] [int] NULL,
	[owner_id] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[opportunity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opportunity_history]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opportunity_history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[opportunity_id] [int] NOT NULL,
	[field_name] [nvarchar](50) NOT NULL,
	[old_value] [nvarchar](500) NULL,
	[new_value] [nvarchar](500) NULL,
	[changed_at] [datetime2](7) NOT NULL,
	[changed_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pipeline_stages]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pipeline_stages](
	[stage_id] [int] IDENTITY(1,1) NOT NULL,
	[pipeline_id] [int] NOT NULL,
	[stage_code] [nvarchar](50) NOT NULL,
	[stage_name] [nvarchar](100) NOT NULL,
	[stage_order] [int] NOT NULL,
	[probability] [int] NOT NULL,
	[stage_type] [nvarchar](20) NOT NULL,
	[color_code] [nvarchar](7) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pipelines]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pipelines](
	[pipeline_id] [int] IDENTITY(1,1) NOT NULL,
	[pipeline_code] [nvarchar](50) NOT NULL,
	[pipeline_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_default] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pipeline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quotation_items]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quotation_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[quotation_id] [int] NOT NULL,
	[course_id] [int] NULL,
	[item_type] [nvarchar](20) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[detailed_description] [nvarchar](max) NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[discount_percent] [int] NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[line_total] [decimal](18, 2) NOT NULL,
	[sort_order] [int] NULL,
	[is_optional] [bit] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quotation_tracking_logs]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quotation_tracking_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[quotation_id] [int] NOT NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[event_date] [datetime2](7) NOT NULL,
	[ip_address] [nvarchar](50) NULL,
	[user_agent] [nvarchar](500) NULL,
	[device_type] [nvarchar](50) NULL,
	[browser] [nvarchar](100) NULL,
	[location_country] [nvarchar](100) NULL,
	[location_city] [nvarchar](100) NULL,
	[session_id] [nvarchar](100) NULL,
	[page_url] [nvarchar](500) NULL,
	[referrer_url] [nvarchar](500) NULL,
	[duration_seconds] [int] NULL,
	[metadata] [nvarchar](max) NULL,
	[email_log_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quotation_versions]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quotation_versions](
	[version_id] [int] IDENTITY(1,1) NOT NULL,
	[quotation_id] [int] NOT NULL,
	[version_number] [int] NOT NULL,
	[snapshot_data] [nvarchar](max) NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[change_reason] [nvarchar](500) NULL,
	[change_summary] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quotations]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quotations](
	[quotation_id] [int] IDENTITY(1,1) NOT NULL,
	[quotation_code] [nvarchar](50) NOT NULL,
	[quotation_number] [nvarchar](50) NOT NULL,
	[version] [int] NOT NULL,
	[opportunity_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[lead_id] [int] NULL,
	[quote_date] [date] NOT NULL,
	[valid_until] [date] NOT NULL,
	[expiry_days] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[currency] [nvarchar](3) NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[discount_type] [nvarchar](20) NULL,
	[discount_percent] [int] NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[tax_percent] [int] NULL,
	[tax_amount] [decimal](18, 2) NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[requires_approval] [bit] NULL,
	[approved_by] [int] NULL,
	[approved_date] [datetime2](7) NULL,
	[approval_notes] [nvarchar](max) NULL,
	[rejected_by] [int] NULL,
	[rejected_date] [datetime2](7) NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[sent_date] [datetime2](7) NULL,
	[sent_by] [int] NULL,
	[first_viewed_date] [datetime2](7) NULL,
	[last_viewed_date] [datetime2](7) NULL,
	[view_count] [int] NULL,
	[total_view_duration_seconds] [int] NULL,
	[accepted_date] [datetime2](7) NULL,
	[accepted_by_name] [nvarchar](100) NULL,
	[accepted_by_email] [nvarchar](255) NULL,
	[accepted_ip_address] [nvarchar](50) NULL,
	[customer_rejected_date] [datetime2](7) NULL,
	[customer_rejection_reason] [nvarchar](500) NULL,
	[pdf_path] [nvarchar](500) NULL,
	[pdf_url] [nvarchar](500) NULL,
	[pdf_generated_date] [datetime2](7) NULL,
	[tracking_token] [nvarchar](100) NULL,
	[tracking_url] [nvarchar](500) NULL,
	[email_tracking_enabled] [bit] NULL,
	[last_email_sent_id] [int] NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[terms_conditions] [nvarchar](max) NULL,
	[payment_terms] [nvarchar](500) NULL,
	[delivery_terms] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[internal_notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[quotation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_code] [nvarchar](50) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[task_code] [nvarchar](50) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[related_type] [nvarchar](50) NULL,
	[related_id] [int] NULL,
	[assigned_to] [int] NULL,
	[due_date] [datetime2](7) NULL,
	[reminder_at] [datetime2](7) NULL,
	[priority] [nvarchar](10) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[completed_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_responses]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_responses](
	[response_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[is_internal] [bit] NOT NULL,
	[responder_type] [nvarchar](20) NOT NULL,
	[responder_id] [int] NULL,
	[responder_name] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[response_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_code] [nvarchar](50) NOT NULL,
	[customer_id] [int] NULL,
	[lead_id] [int] NULL,
	[requester_name] [nvarchar](100) NULL,
	[requester_email] [nvarchar](255) NULL,
	[requester_phone] [nvarchar](20) NULL,
	[subject] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[category] [nvarchar](50) NULL,
	[priority] [nvarchar](10) NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[assigned_to] [int] NULL,
	[assigned_at] [datetime2](7) NULL,
	[first_response_at] [datetime2](7) NULL,
	[resolved_at] [datetime2](7) NULL,
	[closed_at] [datetime2](7) NULL,
	[closed_by] [int] NULL,
	[satisfaction_rating] [int] NULL,
	[satisfaction_comment] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_role_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[assigned_at] [datetime2](7) NOT NULL,
	[assigned_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/7/2026 2:22:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_code] [nvarchar](20) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[department_id] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customer_tags] ON 

INSERT [dbo].[customer_tags] ([tag_id], [tag_name], [tag_color], [description], [is_active], [created_at]) VALUES (1, N'VIP', N'#FFD700', N'Khách hàng VIP', 1, CAST(N'2026-02-05T12:58:20.9366667' AS DateTime2))
INSERT [dbo].[customer_tags] ([tag_id], [tag_name], [tag_color], [description], [is_active], [created_at]) VALUES (2, N'Potential Upsell', N'#00FF00', N'Có tiềm năng mua thêm', 1, CAST(N'2026-02-05T12:58:20.9366667' AS DateTime2))
INSERT [dbo].[customer_tags] ([tag_id], [tag_name], [tag_color], [description], [is_active], [created_at]) VALUES (3, N'At-Risk', N'#FF0000', N'Có nguy cơ rời bỏ', 1, CAST(N'2026-02-05T12:58:20.9366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[customer_tags] OFF
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([department_id], [department_code], [department_name], [is_active], [created_at]) VALUES (1, N'MARKETING', N'Phòng Marketing', 1, CAST(N'2026-02-05T12:58:20.9233333' AS DateTime2))
INSERT [dbo].[departments] ([department_id], [department_code], [department_name], [is_active], [created_at]) VALUES (2, N'SALES', N'Phòng Kinh doanh', 1, CAST(N'2026-02-05T12:58:20.9233333' AS DateTime2))
INSERT [dbo].[departments] ([department_id], [department_code], [department_name], [is_active], [created_at]) VALUES (3, N'SUPPORT', N'Phòng Hỗ trợ khách hàng', 1, CAST(N'2026-02-05T12:58:20.9233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[email_templates] ON 

SET IDENTITY_INSERT [dbo].[email_templates] OFF
GO
SET IDENTITY_INSERT [dbo].[lead_sources] ON 

INSERT [dbo].[lead_sources] ([source_id], [source_code], [source_name], [description], [is_active], [created_at]) VALUES (1, N'WEBSITE', N'Website', N'Đăng ký từ website', 1, CAST(N'2026-02-05T12:58:20.9266667' AS DateTime2))
INSERT [dbo].[lead_sources] ([source_id], [source_code], [source_name], [description], [is_active], [created_at]) VALUES (2, N'FACEBOOK', N'Facebook', N'Quảng cáo Facebook', 1, CAST(N'2026-02-05T12:58:20.9266667' AS DateTime2))
INSERT [dbo].[lead_sources] ([source_id], [source_code], [source_name], [description], [is_active], [created_at]) VALUES (3, N'GOOGLE', N'Google Ads', N'Quảng cáo Google', 1, CAST(N'2026-02-05T12:58:20.9266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[lead_sources] OFF
GO
SET IDENTITY_INSERT [dbo].[pipeline_stages] ON 

INSERT [dbo].[pipeline_stages] ([stage_id], [pipeline_id], [stage_code], [stage_name], [stage_order], [probability], [stage_type], [color_code], [is_active]) VALUES (1, 1, N'NEW', N'Mới tiếp nhận', 1, 10, N'open', N'#808080', 1)
INSERT [dbo].[pipeline_stages] ([stage_id], [pipeline_id], [stage_code], [stage_name], [stage_order], [probability], [stage_type], [color_code], [is_active]) VALUES (2, 1, N'CONTACTED', N'Đã liên hệ', 2, 20, N'open', N'#3498db', 1)
INSERT [dbo].[pipeline_stages] ([stage_id], [pipeline_id], [stage_code], [stage_name], [stage_order], [probability], [stage_type], [color_code], [is_active]) VALUES (3, 1, N'QUALIFIED', N'Đủ điều kiện', 3, 40, N'open', N'#f39c12', 1)
SET IDENTITY_INSERT [dbo].[pipeline_stages] OFF
GO
SET IDENTITY_INSERT [dbo].[pipelines] ON 

INSERT [dbo].[pipelines] ([pipeline_id], [pipeline_code], [pipeline_name], [description], [is_default], [is_active], [created_at], [created_by]) VALUES (1, N'LEAD_CONVERSION', N'Chuyển đổi Lead', N'Quy trình chuyển đổi Lead thành Customer', 1, 1, CAST(N'2026-02-05T12:58:20.9300000' AS DateTime2), NULL)
INSERT [dbo].[pipelines] ([pipeline_id], [pipeline_code], [pipeline_name], [description], [is_default], [is_active], [created_at], [created_by]) VALUES (2, N'UPSELL', N'Upsell', N'Quy trình bán thêm cho KH hiện tại', 0, 1, CAST(N'2026-02-05T12:58:20.9300000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[pipelines] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_code], [role_name], [description], [is_active], [created_at]) VALUES (1, N'ADMIN', N'Quản trị viên', N'Toàn quyền hệ thống', 1, CAST(N'2026-02-05T12:58:20.9266667' AS DateTime2))
INSERT [dbo].[roles] ([role_id], [role_code], [role_name], [description], [is_active], [created_at]) VALUES (2, N'MARKETING', N'Nhân viên Marketing', N'Quản lý chiến dịch và Lead', 1, CAST(N'2026-02-05T12:58:20.9266667' AS DateTime2))
INSERT [dbo].[roles] ([role_id], [role_code], [role_name], [description], [is_active], [created_at]) VALUES (3, N'SALES', N'Nhân viên Sales', N'Quản lý Pipeline và chuyển đổi Lead', 1, CAST(N'2026-02-05T12:58:20.9266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
/****** Object:  Index [IX_activities_date]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_activities_date] ON [dbo].[activities]
(
	[activity_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_activities_performed_by]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_activities_performed_by] ON [dbo].[activities]
(
	[performed_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_activities_related]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_activities_related] ON [dbo].[activities]
(
	[related_type] ASC,
	[related_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_activities_type]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_activities_type] ON [dbo].[activities]
(
	[activity_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_attachments_related]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_attachments_related] ON [dbo].[attachments]
(
	[related_type] ASC,
	[related_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_logs_created_at]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_created_at] ON [dbo].[audit_logs]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_audit_logs_entity]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_entity] ON [dbo].[audit_logs]
(
	[entity_type] ASC,
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_logs_user]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_user] ON [dbo].[audit_logs]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_campaign_members_campaign]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_campaign_members_campaign] ON [dbo].[campaign_members]
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_campaign_members_lead]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_campaign_members_lead] ON [dbo].[campaign_members]
(
	[lead_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__campaign__DE597DBC93565F7A]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[campaigns] ADD UNIQUE NONCLUSTERED 
(
	[campaign_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_campaigns_owner]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_campaigns_owner] ON [dbo].[campaigns]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_campaigns_status]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_campaigns_status] ON [dbo].[campaigns]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_comments_created_at]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_comments_created_at] ON [dbo].[comments]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_comments_related]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_comments_related] ON [dbo].[comments]
(
	[related_type] ASC,
	[related_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_tag_assignments]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[customer_tag_assignments] ADD  CONSTRAINT [UQ_tag_assignments] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__E298655C1DAEC421]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[customer_tags] ADD UNIQUE NONCLUSTERED 
(
	[tag_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__6A9E4CB7F762DD2D]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[customer_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customers_email]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_customers_email] ON [dbo].[customers]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customers_owner]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_customers_owner] ON [dbo].[customers]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customers_phone]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_customers_phone] ON [dbo].[customers]
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customers_segment]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_customers_segment] ON [dbo].[customers]
(
	[customer_segment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customers_status]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_customers_status] ON [dbo].[customers]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__departme__EBC3495EECDF696A]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[departments] ADD UNIQUE NONCLUSTERED 
(
	[department_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_email_templates_code]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[email_templates] ADD  CONSTRAINT [UQ_email_templates_code] UNIQUE NONCLUSTERED 
(
	[template_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__lead_sou__9822988C17E679DA]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[lead_sources] ADD UNIQUE NONCLUSTERED 
(
	[source_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__leads__D3B269BFB1A149AB]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[leads] ADD UNIQUE NONCLUSTERED 
(
	[lead_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_leads_assigned]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_leads_assigned] ON [dbo].[leads]
(
	[assigned_to] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_leads_campaign]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_leads_campaign] ON [dbo].[leads]
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_leads_email]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_leads_email] ON [dbo].[leads]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_leads_phone]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_leads_phone] ON [dbo].[leads]
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_leads_source]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_leads_source] ON [dbo].[leads]
(
	[source_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_leads_status]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_leads_status] ON [dbo].[leads]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__opportun__5419F8D253668DD2]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[opportunities] ADD UNIQUE NONCLUSTERED 
(
	[opportunity_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_opportunities_lead]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_opportunities_lead] ON [dbo].[opportunities]
(
	[lead_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_opportunities_owner]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_opportunities_owner] ON [dbo].[opportunities]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_opportunities_stage]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_opportunities_stage] ON [dbo].[opportunities]
(
	[stage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_opportunities_status]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_opportunities_status] ON [dbo].[opportunities]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_opportunity_history_date]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_opportunity_history_date] ON [dbo].[opportunity_history]
(
	[changed_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_opportunity_history_opp]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_opportunity_history_opp] ON [dbo].[opportunity_history]
(
	[opportunity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_pipeline_stages_order]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[pipeline_stages] ADD  CONSTRAINT [UQ_pipeline_stages_order] UNIQUE NONCLUSTERED 
(
	[pipeline_id] ASC,
	[stage_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pipeline__4060F87146E6E1DA]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[pipelines] ADD UNIQUE NONCLUSTERED 
(
	[pipeline_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_quotations_code]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[quotations] ADD  CONSTRAINT [UQ_quotations_code] UNIQUE NONCLUSTERED 
(
	[quotation_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_quotations_tracking_token]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[quotations] ADD  CONSTRAINT [UQ_quotations_tracking_token] UNIQUE NONCLUSTERED 
(
	[tracking_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__BAE6307573B7EA3D]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tasks__4ED2915697DF20A6]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[tasks] ADD UNIQUE NONCLUSTERED 
(
	[task_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tasks_assigned]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tasks_assigned] ON [dbo].[tasks]
(
	[assigned_to] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tasks_due_date]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tasks_due_date] ON [dbo].[tasks]
(
	[due_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tasks_related]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tasks_related] ON [dbo].[tasks]
(
	[related_type] ASC,
	[related_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tasks_status]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tasks_status] ON [dbo].[tasks]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ticket_responses_ticket]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_ticket_responses_ticket] ON [dbo].[ticket_responses]
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tickets__628DB75F12A9CF9B]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[tickets] ADD UNIQUE NONCLUSTERED 
(
	[ticket_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tickets_assigned]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tickets_assigned] ON [dbo].[tickets]
(
	[assigned_to] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tickets_created_at]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tickets_created_at] ON [dbo].[tickets]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tickets_customer]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tickets_customer] ON [dbo].[tickets]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tickets_priority]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tickets_priority] ON [dbo].[tickets]
(
	[priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tickets_status]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_tickets_status] ON [dbo].[tickets]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_roles]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [UQ_user_roles] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164130C08D8]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__B0AA73450886A395]    Script Date: 2/7/2026 2:22:21 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[employee_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_users_department]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_users_department] ON [dbo].[users]
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_status]    Script Date: 2/7/2026 2:22:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_users_status] ON [dbo].[users]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activities] ADD  DEFAULT (getdate()) FOR [activity_date]
GO
ALTER TABLE [dbo].[activities] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[attachments] ADD  DEFAULT ((0)) FOR [file_size]
GO
ALTER TABLE [dbo].[attachments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[campaign_members] ADD  DEFAULT ('Added') FOR [status]
GO
ALTER TABLE [dbo].[campaign_members] ADD  DEFAULT ((0)) FOR [has_converted]
GO
ALTER TABLE [dbo].[campaign_members] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[campaigns] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[campaigns] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[campaigns] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((0)) FOR [current_students]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((0)) FOR [total_enrolled]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((0)) FOR [rating_count]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((1)) FOR [certificate_available]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT (getdate()) FOR [enrolled_date]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT ('Pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT ('Not Started') FOR [learning_status]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT ((0)) FOR [progress_percentage]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT ((0)) FOR [lessons_completed]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT ((0)) FOR [certificate_issued]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer_enrollments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[customer_tag_assignments] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[customer_tags] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[customer_tags] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [total_courses]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [total_spent]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [email_opt_out]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [sms_opt_out]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[email_attachments] ADD  DEFAULT ((0)) FOR [is_inline]
GO
ALTER TABLE [dbo].[email_attachments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[email_logs] ADD  DEFAULT ((0)) FOR [has_attachments]
GO
ALTER TABLE [dbo].[email_logs] ADD  DEFAULT ((0)) FOR [attachment_count]
GO
ALTER TABLE [dbo].[email_logs] ADD  DEFAULT ('Queued') FOR [status]
GO
ALTER TABLE [dbo].[email_logs] ADD  DEFAULT ((1)) FOR [tracking_enabled]
GO
ALTER TABLE [dbo].[email_logs] ADD  DEFAULT ((0)) FOR [open_count]
GO
ALTER TABLE [dbo].[email_logs] ADD  DEFAULT ((0)) FOR [click_count]
GO
ALTER TABLE [dbo].[email_logs] ADD  DEFAULT ((0)) FOR [retry_count]
GO
ALTER TABLE [dbo].[email_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[email_templates] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[email_templates] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[email_templates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[email_templates] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[lead_sources] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lead_sources] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[leads] ADD  DEFAULT ('New') FOR [status]
GO
ALTER TABLE [dbo].[leads] ADD  DEFAULT ((0)) FOR [lead_score]
GO
ALTER TABLE [dbo].[leads] ADD  DEFAULT ((0)) FOR [is_converted]
GO
ALTER TABLE [dbo].[leads] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[leads] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[opportunities] ADD  DEFAULT ((0)) FOR [probability]
GO
ALTER TABLE [dbo].[opportunities] ADD  DEFAULT ('Open') FOR [status]
GO
ALTER TABLE [dbo].[opportunities] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[opportunities] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[opportunity_history] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[pipeline_stages] ADD  DEFAULT ((0)) FOR [probability]
GO
ALTER TABLE [dbo].[pipeline_stages] ADD  DEFAULT ('Open') FOR [stage_type]
GO
ALTER TABLE [dbo].[pipeline_stages] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pipelines] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[pipelines] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pipelines] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quotation_items] ADD  DEFAULT ('Course') FOR [item_type]
GO
ALTER TABLE [dbo].[quotation_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[quotation_items] ADD  DEFAULT ((0)) FOR [discount_percent]
GO
ALTER TABLE [dbo].[quotation_items] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[quotation_items] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[quotation_items] ADD  DEFAULT ((0)) FOR [is_optional]
GO
ALTER TABLE [dbo].[quotation_items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quotation_tracking_logs] ADD  DEFAULT (getdate()) FOR [event_date]
GO
ALTER TABLE [dbo].[quotation_versions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((30)) FOR [expiry_days]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((0)) FOR [tax_percent]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((0)) FOR [requires_approval]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((0)) FOR [total_view_duration_seconds]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT ((1)) FOR [email_tracking_enabled]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quotations] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT ('Medium') FOR [priority]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ticket_responses] ADD  DEFAULT ((0)) FOR [is_internal]
GO
ALTER TABLE [dbo].[ticket_responses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT ('Medium') FOR [priority]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT ('Email') FOR [channel]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT ('New') FOR [status]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[activities]  WITH CHECK ADD  CONSTRAINT [FK_activities_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[activities] CHECK CONSTRAINT [FK_activities_created_by]
GO
ALTER TABLE [dbo].[activities]  WITH CHECK ADD  CONSTRAINT [FK_activities_performed_by] FOREIGN KEY([performed_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[activities] CHECK CONSTRAINT [FK_activities_performed_by]
GO
ALTER TABLE [dbo].[attachments]  WITH CHECK ADD  CONSTRAINT [FK_attachments_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[attachments] CHECK CONSTRAINT [FK_attachments_created_by]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_user]
GO
ALTER TABLE [dbo].[campaign_members]  WITH CHECK ADD  CONSTRAINT [FK_campaign_members_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[campaigns] ([campaign_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[campaign_members] CHECK CONSTRAINT [FK_campaign_members_campaign]
GO
ALTER TABLE [dbo].[campaign_members]  WITH CHECK ADD  CONSTRAINT [FK_campaign_members_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[campaign_members] CHECK CONSTRAINT [FK_campaign_members_customer]
GO
ALTER TABLE [dbo].[campaign_members]  WITH CHECK ADD  CONSTRAINT [FK_campaign_members_lead] FOREIGN KEY([lead_id])
REFERENCES [dbo].[leads] ([lead_id])
GO
ALTER TABLE [dbo].[campaign_members] CHECK CONSTRAINT [FK_campaign_members_lead]
GO
ALTER TABLE [dbo].[campaigns]  WITH CHECK ADD  CONSTRAINT [FK_campaigns_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[campaigns] CHECK CONSTRAINT [FK_campaigns_created_by]
GO
ALTER TABLE [dbo].[campaigns]  WITH CHECK ADD  CONSTRAINT [FK_campaigns_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[campaigns] CHECK CONSTRAINT [FK_campaigns_owner]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_created_by]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_parent] FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[comments] ([comment_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_parent]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK_courses_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK_courses_categories]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK_courses_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK_courses_created_by]
GO
ALTER TABLE [dbo].[customer_enrollments]  WITH CHECK ADD  CONSTRAINT [FK_enrollments_assigned] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[customer_enrollments] CHECK CONSTRAINT [FK_enrollments_assigned]
GO
ALTER TABLE [dbo].[customer_enrollments]  WITH CHECK ADD  CONSTRAINT [FK_enrollments_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[customer_enrollments] CHECK CONSTRAINT [FK_enrollments_campaign]
GO
ALTER TABLE [dbo].[customer_enrollments]  WITH CHECK ADD  CONSTRAINT [FK_enrollments_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[customer_enrollments] CHECK CONSTRAINT [FK_enrollments_created_by]
GO
ALTER TABLE [dbo].[customer_enrollments]  WITH CHECK ADD  CONSTRAINT [FK_enrollments_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[customer_enrollments] CHECK CONSTRAINT [FK_enrollments_customer]
GO
ALTER TABLE [dbo].[customer_enrollments]  WITH CHECK ADD  CONSTRAINT [FK_enrollments_source] FOREIGN KEY([source_id])
REFERENCES [dbo].[lead_sources] ([source_id])
GO
ALTER TABLE [dbo].[customer_enrollments] CHECK CONSTRAINT [FK_enrollments_source]
GO
ALTER TABLE [dbo].[customer_tag_assignments]  WITH CHECK ADD  CONSTRAINT [FK_tag_assignments_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customer_tag_assignments] CHECK CONSTRAINT [FK_tag_assignments_customer]
GO
ALTER TABLE [dbo].[customer_tag_assignments]  WITH CHECK ADD  CONSTRAINT [FK_tag_assignments_tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[customer_tags] ([tag_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customer_tag_assignments] CHECK CONSTRAINT [FK_tag_assignments_tag]
GO
ALTER TABLE [dbo].[customer_tag_assignments]  WITH CHECK ADD  CONSTRAINT [FK_tag_assignments_user] FOREIGN KEY([assigned_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[customer_tag_assignments] CHECK CONSTRAINT [FK_tag_assignments_user]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_created_by]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_lead] FOREIGN KEY([converted_lead_id])
REFERENCES [dbo].[leads] ([lead_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_lead]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_owner]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_source] FOREIGN KEY([source_id])
REFERENCES [dbo].[lead_sources] ([source_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_source]
GO
ALTER TABLE [dbo].[email_attachments]  WITH CHECK ADD  CONSTRAINT [FK_email_attachments_email_log] FOREIGN KEY([email_log_id])
REFERENCES [dbo].[email_logs] ([email_log_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[email_attachments] CHECK CONSTRAINT [FK_email_attachments_email_log]
GO
ALTER TABLE [dbo].[email_logs]  WITH CHECK ADD  CONSTRAINT [FK_email_logs_quotation] FOREIGN KEY([quotation_id])
REFERENCES [dbo].[quotations] ([quotation_id])
GO
ALTER TABLE [dbo].[email_logs] CHECK CONSTRAINT [FK_email_logs_quotation]
GO
ALTER TABLE [dbo].[email_logs]  WITH CHECK ADD  CONSTRAINT [FK_email_logs_sent_by] FOREIGN KEY([sent_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[email_logs] CHECK CONSTRAINT [FK_email_logs_sent_by]
GO
ALTER TABLE [dbo].[email_logs]  WITH CHECK ADD  CONSTRAINT [FK_email_logs_template] FOREIGN KEY([template_id])
REFERENCES [dbo].[email_templates] ([template_id])
GO
ALTER TABLE [dbo].[email_logs] CHECK CONSTRAINT [FK_email_logs_template]
GO
ALTER TABLE [dbo].[leads]  WITH CHECK ADD  CONSTRAINT [FK_leads_assigned] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[leads] CHECK CONSTRAINT [FK_leads_assigned]
GO
ALTER TABLE [dbo].[leads]  WITH CHECK ADD  CONSTRAINT [FK_leads_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[leads] CHECK CONSTRAINT [FK_leads_campaign]
GO
ALTER TABLE [dbo].[leads]  WITH CHECK ADD  CONSTRAINT [FK_leads_converted_customer] FOREIGN KEY([converted_customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[leads] CHECK CONSTRAINT [FK_leads_converted_customer]
GO
ALTER TABLE [dbo].[leads]  WITH CHECK ADD  CONSTRAINT [FK_leads_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[leads] CHECK CONSTRAINT [FK_leads_created_by]
GO
ALTER TABLE [dbo].[leads]  WITH CHECK ADD  CONSTRAINT [FK_leads_source] FOREIGN KEY([source_id])
REFERENCES [dbo].[lead_sources] ([source_id])
GO
ALTER TABLE [dbo].[leads] CHECK CONSTRAINT [FK_leads_source]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [FK_opportunities_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [FK_opportunities_campaign]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [FK_opportunities_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [FK_opportunities_created_by]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [FK_opportunities_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [FK_opportunities_customer]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [FK_opportunities_lead] FOREIGN KEY([lead_id])
REFERENCES [dbo].[leads] ([lead_id])
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [FK_opportunities_lead]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [FK_opportunities_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [FK_opportunities_owner]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [FK_opportunities_pipeline] FOREIGN KEY([pipeline_id])
REFERENCES [dbo].[pipelines] ([pipeline_id])
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [FK_opportunities_pipeline]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [FK_opportunities_source] FOREIGN KEY([source_id])
REFERENCES [dbo].[lead_sources] ([source_id])
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [FK_opportunities_source]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [FK_opportunities_stage] FOREIGN KEY([stage_id])
REFERENCES [dbo].[pipeline_stages] ([stage_id])
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [FK_opportunities_stage]
GO
ALTER TABLE [dbo].[opportunity_history]  WITH CHECK ADD  CONSTRAINT [FK_opportunity_history_opp] FOREIGN KEY([opportunity_id])
REFERENCES [dbo].[opportunities] ([opportunity_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[opportunity_history] CHECK CONSTRAINT [FK_opportunity_history_opp]
GO
ALTER TABLE [dbo].[opportunity_history]  WITH CHECK ADD  CONSTRAINT [FK_opportunity_history_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[opportunity_history] CHECK CONSTRAINT [FK_opportunity_history_user]
GO
ALTER TABLE [dbo].[pipeline_stages]  WITH CHECK ADD  CONSTRAINT [FK_pipeline_stages_pipeline] FOREIGN KEY([pipeline_id])
REFERENCES [dbo].[pipelines] ([pipeline_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pipeline_stages] CHECK CONSTRAINT [FK_pipeline_stages_pipeline]
GO
ALTER TABLE [dbo].[pipelines]  WITH CHECK ADD  CONSTRAINT [FK_pipelines_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[pipelines] CHECK CONSTRAINT [FK_pipelines_created_by]
GO
ALTER TABLE [dbo].[quotation_items]  WITH CHECK ADD  CONSTRAINT [FK_quotation_items_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([course_id])
GO
ALTER TABLE [dbo].[quotation_items] CHECK CONSTRAINT [FK_quotation_items_course]
GO
ALTER TABLE [dbo].[quotation_items]  WITH CHECK ADD  CONSTRAINT [FK_quotation_items_quotation] FOREIGN KEY([quotation_id])
REFERENCES [dbo].[quotations] ([quotation_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quotation_items] CHECK CONSTRAINT [FK_quotation_items_quotation]
GO
ALTER TABLE [dbo].[quotation_tracking_logs]  WITH CHECK ADD  CONSTRAINT [FK_quotation_tracking_logs_quotation] FOREIGN KEY([quotation_id])
REFERENCES [dbo].[quotations] ([quotation_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quotation_tracking_logs] CHECK CONSTRAINT [FK_quotation_tracking_logs_quotation]
GO
ALTER TABLE [dbo].[quotation_versions]  WITH CHECK ADD  CONSTRAINT [FK_quotation_versions_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[quotation_versions] CHECK CONSTRAINT [FK_quotation_versions_created_by]
GO
ALTER TABLE [dbo].[quotation_versions]  WITH CHECK ADD  CONSTRAINT [FK_quotation_versions_quotation] FOREIGN KEY([quotation_id])
REFERENCES [dbo].[quotations] ([quotation_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quotation_versions] CHECK CONSTRAINT [FK_quotation_versions_quotation]
GO
ALTER TABLE [dbo].[quotations]  WITH CHECK ADD  CONSTRAINT [FK_quotations_approved_by] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[quotations] CHECK CONSTRAINT [FK_quotations_approved_by]
GO
ALTER TABLE [dbo].[quotations]  WITH CHECK ADD  CONSTRAINT [FK_quotations_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[quotations] CHECK CONSTRAINT [FK_quotations_created_by]
GO
ALTER TABLE [dbo].[quotations]  WITH CHECK ADD  CONSTRAINT [FK_quotations_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[quotations] CHECK CONSTRAINT [FK_quotations_customer]
GO
ALTER TABLE [dbo].[quotations]  WITH CHECK ADD  CONSTRAINT [FK_quotations_lead] FOREIGN KEY([lead_id])
REFERENCES [dbo].[leads] ([lead_id])
GO
ALTER TABLE [dbo].[quotations] CHECK CONSTRAINT [FK_quotations_lead]
GO
ALTER TABLE [dbo].[quotations]  WITH CHECK ADD  CONSTRAINT [FK_quotations_opportunity] FOREIGN KEY([opportunity_id])
REFERENCES [dbo].[opportunities] ([opportunity_id])
GO
ALTER TABLE [dbo].[quotations] CHECK CONSTRAINT [FK_quotations_opportunity]
GO
ALTER TABLE [dbo].[quotations]  WITH CHECK ADD  CONSTRAINT [FK_quotations_sent_by] FOREIGN KEY([sent_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[quotations] CHECK CONSTRAINT [FK_quotations_sent_by]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_assigned] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_assigned]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_created_by]
GO
ALTER TABLE [dbo].[ticket_responses]  WITH CHECK ADD  CONSTRAINT [FK_ticket_responses_ticket] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[tickets] ([ticket_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ticket_responses] CHECK CONSTRAINT [FK_ticket_responses_ticket]
GO
ALTER TABLE [dbo].[ticket_responses]  WITH CHECK ADD  CONSTRAINT [FK_ticket_responses_user] FOREIGN KEY([responder_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[ticket_responses] CHECK CONSTRAINT [FK_ticket_responses_user]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_assigned] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_assigned]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_closed_by] FOREIGN KEY([closed_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_closed_by]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_created_by]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_customer]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_lead] FOREIGN KEY([lead_id])
REFERENCES [dbo].[leads] ([lead_id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_lead]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_assigned_by] FOREIGN KEY([assigned_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_assigned_by]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_user]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_department]
GO
ALTER TABLE [dbo].[campaign_members]  WITH CHECK ADD  CONSTRAINT [CK_campaign_member_target] CHECK  (([lead_id] IS NOT NULL AND [customer_id] IS NULL OR [lead_id] IS NULL AND [customer_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[campaign_members] CHECK CONSTRAINT [CK_campaign_member_target]
GO
ALTER TABLE [dbo].[opportunities]  WITH CHECK ADD  CONSTRAINT [CK_opportunities_probability] CHECK  (([probability]>=(0) AND [probability]<=(100)))
GO
ALTER TABLE [dbo].[opportunities] CHECK CONSTRAINT [CK_opportunities_probability]
GO
ALTER TABLE [dbo].[pipeline_stages]  WITH CHECK ADD  CONSTRAINT [CK_pipeline_stages_probability] CHECK  (([probability]>=(0) AND [probability]<=(100)))
GO
ALTER TABLE [dbo].[pipeline_stages] CHECK CONSTRAINT [CK_pipeline_stages_probability]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [CK_tickets_rating] CHECK  (([satisfaction_rating] IS NULL OR [satisfaction_rating]>=(1) AND [satisfaction_rating]<=(5)))
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [CK_tickets_rating]
GO
USE [master]
GO
